{% extends "base.html" %}
{% load static %}
{% block title %}FAQs{% endblock title %}

{% block content %}


    <section class="w-100 h-100 d-flex flex-wrap bg-body-warning activepage actdashboard" id="dashboard">
        <header class="w-100 px-3 py-2 bg-white position-fixed border-bottom">
            <button class="btn btn-sm btn-primary" type="button" onclick="history.back()">Close</button>
        </header>
        <main class="w-100 h-fit py-5 px-3 px-sm-5">
            
            <h2 class="display-6 text-center mt-2">FAQs</h2>

            <div class="mx-auto col-lg-6 mt-5">
                <p class="m-0">GENERAL</p>
                <div class="w-100">
                    
                    <div class="mt-2 border rounded-3 overflow-hidden bg-body-tertiary">
                        <div class="w-100 px-3 py-2 bg-primary bg-opacity-25">
                            <p class="m-0"><span class="text-primary">Q </span>Why does the company attract additional investments from private individuals?</p>
                        </div>
                        <div class="px-3 py-2">
                            <p class="m-0">Additional investments will allow to increase the number of transactions executed in the market, and thus will increase the overall profitability of the company. Investors in turn will receive certain percentage of profit depending on the amount of funds invested.</p>
                        </div>
                    </div>
                    <div class="mt-2 border rounded-3 overflow-hidden bg-body-tertiary">
                        <div class="w-100 px-3 py-2 bg-primary bg-opacity-25">
                            <p class="m-0"><span class="text-primary">Q </span>What are the advantages of the Gainisis over competitors?</p>
                        </div>
                        <div class="px-3 py-2">
                            <p class="m-0">Our goal is not to conduct the tough competition, but to receive a stable profit using our own strategy. We have developed special investment packages with optimum service plans and affiliate program for passive income for investors.</p>
                        </div>
                    </div>
                    <div class="mt-2 border rounded-3 overflow-hidden bg-body-tertiary">
                        <div class="w-100 px-3 py-2 bg-primary bg-opacity-25">
                            <p class="m-0"><span class="text-primary">Q </span>How long does the company operates?</p>
                        </div>
                        <div class="px-3 py-2">
                            <p class="m-0">Gainisis was founded in 2018.</p>
                        </div>
                    </div>
                    <div class="mt-2 border rounded-3 overflow-hidden bg-body-tertiary">
                        <div class="w-100 px-3 py-2 bg-primary bg-opacity-25">
                            <p class="m-0"><span class="text-primary">Q </span>What are the risks for Gainisis investors?</p>
                        </div>
                        <div class="px-3 py-2">
                            <p class="m-0">The risks for our investors are minimized due to the professional team and our experience. Each company's investor will receive a hourly profit according to the terms of the investment plan that was chosen.</p>
                        </div>
                    </div>
                    <div class="mt-2 border rounded-3 overflow-hidden bg-body-tertiary">
                        <div class="w-100 px-3 py-2 bg-primary bg-opacity-25">
                            <p class="m-0"><span class="text-primary">Q </span>What do I need in order to start?</p>
                        </div>
                        <div class="px-3 py-2">
                            <p class="m-0">First, you should register on our web-site. The registration procedure is simple and will take just a few minutes. Fill all required fields in registration form, login to account, choose an optimum investment plan and deposit your account. After that you'll become an official investor of Gainisis and will receive a profit according to the service plan chosen.</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="mx-auto col-lg-6 mt-5">
                <p class="m-0">TECHNICAL QUESTIONS</p>
                <div class="w-100">
                    
                    <div class="mt-2 border rounded-3 overflow-hidden bg-body-tertiary">
                        <div class="w-100 px-3 py-2 bg-primary bg-opacity-25">
                            <p class="m-0"><span class="text-primary">Q </span>Do I need to pass the identity authentication procedure after the registration on the website?</p>
                        </div>
                        <div class="px-3 py-2">
                            <p class="m-0">No, the identity authentication is not required. However, we are looking for your consciousness and believe that you will provide authentic information about yourself.</p>
                        </div>
                    </div>
                    <div class="mt-2 border rounded-3 overflow-hidden bg-body-tertiary">
                        <div class="w-100 px-3 py-2 bg-primary bg-opacity-25">
                            <p class="m-0"><span class="text-primary">Q </span>Can I change my personal data (login, password, e-mail etc.)?</p>
                        </div>
                        <div class="px-3 py-2">
                            <p class="m-0">Yes, you can change some of your personal data through the personal account by yourself.</p>
                        </div>
                    </div>
                    <div class="mt-2 border rounded-3 overflow-hidden bg-body-tertiary">
                        <div class="w-100 px-3 py-2 bg-primary bg-opacity-25">
                            <p class="m-0"><span class="text-primary">Q </span>I forgot my account's password. What do I need to do?</p>
                        </div>
                        <div class="px-3 py-2">
                            <p class="m-0">You can recover a password using the automatic password recovery. You can also contact support.</p>
                        </div>
                    </div>
                    <div class="mt-2 border rounded-3 overflow-hidden bg-body-tertiary">
                        <div class="w-100 px-3 py-2 bg-primary bg-opacity-25">
                            <p class="m-0"><span class="text-primary">Q </span>What is the security level of the company's web-site?</p>
                        </div>
                        <div class="px-3 py-2">
                            <p class="m-0">We use an expensive dedicated server of the DDos Guard Company which is a DDoS Protected Web Hosting that helps us by protecting our web-site from any DDoS attack. Website is also provided with GeoTrust EV SSL - the high reliability certificate that provides the higher level of protection and security accreditation with domain control validation, up to 256-bit encryption.</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="mx-auto col-lg-6 mt-5">
                <p class="m-0">FINANCIAL QUESTIONS</p>
                <div class="w-100">
                    
                    <div class="mt-2 border rounded-3 overflow-hidden bg-body-tertiary">
                        <div class="w-100 px-3 py-2 bg-primary bg-opacity-25">
                            <p class="m-0"><span class="text-primary">Q </span>How to deposit an account?</p>
                        </div>
                        <div class="px-3 py-2">
                            <p class="m-0">Once you make a decision about deposit amount, please, use one of the payment systems which cooperate with the company.</p>
                        </div>
                    </div>
                    <div class="mt-2 border rounded-3 overflow-hidden bg-body-tertiary">
                        <div class="w-100 px-3 py-2 bg-primary bg-opacity-25">
                            <p class="m-0"><span class="text-primary">Q </span>What payment systems cooperate with the company?</p>
                        </div>
                        <div class="px-3 py-2">
                            <p class="m-0">We cooperate with Bitcoin, Ethereum, Dogecoin, Litecoin, & BitcoinCash as the sole mode of payment for all the activities.</p>
                        </div>
                    </div>
                    <div class="mt-2 border rounded-3 overflow-hidden bg-body-tertiary">
                        <div class="w-100 px-3 py-2 bg-primary bg-opacity-25">
                            <p class="m-0"><span class="text-primary">Q </span>What is the basis of profit charging?</p>
                        </div>
                        <div class="px-3 py-2">
                            <p class="m-0">Profit will be charged on your personal account according to the investment plan that was chosen.</p>
                        </div>
                    </div>
                    <div class="mt-2 border rounded-3 overflow-hidden bg-body-tertiary">
                        <div class="w-100 px-3 py-2 bg-primary bg-opacity-25">
                            <p class="m-0"><span class="text-primary">Q </span>What is the minimum deposit amount?</p>
                        </div>
                        <div class="px-3 py-2">
                            <p class="m-0">The minimum deposit amount is $50</p>
                        </div>
                    </div>
                    <div class="mt-2 border rounded-3 overflow-hidden bg-body-tertiary">
                        <div class="w-100 px-3 py-2 bg-primary bg-opacity-25">
                            <p class="m-0"><span class="text-primary">Q </span>What is the minimum withdraw amount?</p>
                        </div>
                        <div class="px-3 py-2">
                            <p class="m-0">You can request withdrawal of minimum $0.01 (for PerfectMoney & Payeer) and $0.50 (for Bitcoin & other cryptocurrency) without maximum restrictions.</p>
                        </div>
                    </div>
                    <div class="mt-2 border rounded-3 overflow-hidden bg-body-tertiary">
                        <div class="w-100 px-3 py-2 bg-primary bg-opacity-25">
                            <p class="m-0"><span class="text-primary">Q </span>Am I able to create several deposits at a time and make profit from two investment plans simultaneously?</p>
                        </div>
                        <div class="px-3 py-2">
                            <p class="m-0">Yes, you can place money on any number of deposits with a single account and make profit from multiple investment plans.</p>
                        </div>
                    </div>
                    <div class="mt-2 border rounded-3 overflow-hidden bg-body-tertiary">
                        <div class="w-100 px-3 py-2 bg-primary bg-opacity-25">
                            <p class="m-0"><span class="text-primary">Q </span>Is it possible to place money using one payment system and withdraw them using another?</p>
                        </div>
                        <div class="px-3 py-2">
                            <p class="m-0">No, you can withdraw money only with the payment system that was used to place them on deposit.</p>
                        </div>
                    </div>
                    <div class="mt-2 border rounded-3 overflow-hidden bg-body-tertiary">
                        <div class="w-100 px-3 py-2 bg-primary bg-opacity-25">
                            <p class="m-0"><span class="text-primary">Q </span>Am I able to request the deposit withdrawal before the end of investment period?</p>
                        </div>
                        <div class="px-3 py-2">
                            <p class="m-0">No. The deposit is included along with the profits hence there is no principal return.</p>
                        </div>
                    </div>
                    <div class="mt-2 border rounded-3 overflow-hidden bg-body-tertiary">
                        <div class="w-100 px-3 py-2 bg-primary bg-opacity-25">
                            <p class="m-0"><span class="text-primary">Q </span>How quickly can the request of the money withdrawal be processed?</p>
                        </div>
                        <div class="px-3 py-2">
                            <p class="m-0">The request is processed instantly.</p>
                        </div>
                    </div>
                    <div class="mt-2 border rounded-3 overflow-hidden bg-body-tertiary">
                        <div class="w-100 px-3 py-2 bg-primary bg-opacity-25">
                            <p class="m-0"><span class="text-primary">Q </span>Do you have any hidden fees for money placing/withdrawal?</p>
                        </div>
                        <div class="px-3 py-2">
                            <p class="m-0">No, we don't have any hidden fees.</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="mx-auto col-lg-6 mt-5">
                <p class="m-0">AFFILIATE PROGRAM</p>
                <div class="w-100">
                    
                    <div class="mt-2 border rounded-3 overflow-hidden bg-body-tertiary">
                        <div class="w-100 px-3 py-2 bg-primary bg-opacity-25">
                            <p class="m-0"><span class="text-primary">Q </span>Do you have an affiliate program?</p>
                        </div>
                        <div class="px-3 py-2">
                            <p class="m-0">Yes, we developed a multi-level affiliate program according to which a program beneficiary will be charged with 7% of commission charge from the each of his/her partner deposit amounts, 2% commission on the 2nd level .</p>
                        </div>
                    </div>
                    <div class="mt-2 border rounded-3 overflow-hidden bg-body-tertiary">
                        <div class="w-100 px-3 py-2 bg-primary bg-opacity-25">
                            <p class="m-0"><span class="text-primary">Q </span>Is it possible to make profit from the affiliate program without placing a deposit?</p>
                        </div>
                        <div class="px-3 py-2">
                            <p class="m-0">Yes, you can gain a passive income with no direct investments.</p>
                        </div>
                    </div>
                    <div class="mt-2 border rounded-3 overflow-hidden bg-body-tertiary">
                        <div class="w-100 px-3 py-2 bg-primary bg-opacity-25">
                            <p class="m-0"><span class="text-primary">Q </span>How can I use money which was gained via the affiliate program participation?</p>
                        </div>
                        <div class="px-3 py-2">
                            <p class="m-0">You can withdraw them or use to invest in a project.</p>
                        </div>
                    </div>
                    <div class="mt-2 border rounded-3 overflow-hidden bg-body-tertiary">
                        <div class="w-100 px-3 py-2 bg-primary bg-opacity-25">
                            <p class="m-0"><span class="text-primary">Q </span>How can I attract new partners?</p>
                        </div>
                        <div class="px-3 py-2">
                            <p class="m-0">You can use special promotional materials to attract partners.</p>
                        </div>
                    </div>

                </div>
            </div>

        </main>

        {% include "partials/footer.html" %}

    </section>

{% endblock content %}