{% extends "base.html" %}
{% load static %}
{% block title %}Support{% endblock title %}

{% block content %}

    <section class="w-100 h-100 position-fixed pt-3 bg-white overflow-auto" id="support">

        <nav class="container-fluid position-fixed top-0 d-flex align-items-center bg-body-secondary">
            <div onclick="history.back()" class="p-1">
                <!-- <span class="iconify" data-icon="ion:arrow-back" data-inline="false" style="font-size: 24px;"></span> -->
                <span class="iconify" data-icon="mdi:close" data-inline="false" style="font-size: 24px;"></span>
            </div>
            <div class="bg-body-secondary flex-shrink-0 overflow-hidden ms-4 nav_accimg">
                <img src="{% static 'img/user.jpg' %}" alt="" style="position: relative; width: 100%; object-fit: cover;">
            </div>
            <p class="fs-3 display m-0 ms-2">Support</p>
            <div class="p-1 ps-4 ms-auto">
                <span class="iconify" data-icon="bi:three-dots-vertical" data-inline="false" style="font-size: 24px;"></span>
                <!-- <span class="iconify" data-icon="system-icons:menu-vertical" data-inline="false" style="font-size: 24px;"></span> -->
            </div>
        </nav>

        <div class="w-100 h-100 px-3 overflow-auto" id="msgcont">
            <div class="col-md-10 col-lg-6 mx-auto py-5">
                {% if support %}
                    {% for messages in support %}
                        {% if messages.message_type == 'Admin' %}
                            <!-- <p class="text-center mt-5">{{messages.chated_at}}</p> -->
                            <div class="mt-2 d-flex gap-2 chat-bar">
                                <div class="mt-auto mb-1 bg-body-secondary flex-shrink-0 overflow-hidden nav_accimg bg-danger">
                                    <img src="{% static 'img/user.jpg' %}" alt="" style="width: 100%; object-fit: cover;">
                                </div>
                                <div class="px-3 py-1 shadow-sm border rounded-3 bg-body-tertiary">
                                    <p class="m-0">{{messages.chat_message}}</p>
                                    <p class="m-0 mt-2 text-end text-secondary">{{messages.chated_time}}</p>
                                </div>
                            </div>
                        {% endif %}
    
                        {% if messages.message_type == 'User' %}
                            <!-- {% if wedk %}
                                <p class="text-center mt-5">{{wedk.chated_at}}</p>
                            {% endif %} -->
                            <div class="mt-2 ms-auto px-3 py-1 shadow-sm border rounded-3 bg-primary bg-opacity-25 chat-bar">
                                <p class="m-0">{{messages.chat_message}}</p>
                                <p class="m-0 mt-2 text-end text-secondary">{{messages.chated_time}}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <footer class="container-fluid bg-body-tertiary position-fixed bottom-0 py-1">
            <form action="" method="post" class="col-md-10 col-lg-6 mx-auto d-flex align-items-center gap-2">
                {% csrf_token %}
                {{spform.as_table}}
                
                <button type="submit" class="btn btn-sm btn-primary">Send</button>
            </form>
        </footer>

    </section>

{% endblock content %}





