{% extends "base.html" %}
{% load static %}
{% block title %}Diamond investment plan{% endblock title %}

{% block content %}

    <section class="w-100 h-100 d-flex flex-wrap bg-body-warning activepage actinvest" id="plans">
        <header class="w-100 px-3 py-2 bg-white position-fixed z-3 border-bottom">
            <button class="btn btn-sm btn-primary" type="button" onclick="history.back()">Close</button>
        </header>

        <main class="w-100 h-fit py-5 px-3">
            <h2 class="display-6 text-center mb-4 mt-2">Diamond Plan</h2>
            <div class="col-md-10 mx-auto px-3 pb-5 col-lg-6">
                {% for plan in plan_id %}
                    <div class="card mb-4 rounded-3 shadow-sm border-primary">
                        <div class="card-header py-3 text-center text-bg-primary border-primary">
                            <h4 class="my-0 fw-normal">{{plan.plan_title | title}}</h4>
                        </div>
                        <div class="card-body">
                            <div class="text-center">
                                <img src="{{plan.plan_image.url}}" class="d-block mx-lg-auto img-fluid mx-auto mb-2" style="width: 60px; height: 50px;">
                                <h1 class="card-title pricing-card-title">{{plan.interest}}%<small class="text-body-secondary fw-light">/{{plan.duration}}</small></h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>{{plan.prize}}</li>
                                    <li>{{plan.duration}} duration</li>
                                    <li>{{plan.interest}}% {{plan.interest_duation}} interest</li>
                                    <li>{{plan.referral}}% referral gain</li>
                                </ul>
                            </div>
                            <form action="" method="post" class="col-sm-10 col-lg-8 mx-auto mt-3" id="diamondform">
                                {% csrf_token %}
                                {{plan_form.as_p}}

                                <p class="text-danger d-none" id="diamondval">Value did not match the investment amount of (<span>{{plan.prize}}</span>)!</p>
                                <div class="mt-3">
                                    <button class="w-100 btn btn-primary" id="diamondsubmit">Proceed</button>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </main>
    
        {% include "partials/footer.html" %}

    </section>

{% endblock content %}
